{% extends 'base.html' %}

{% block title %}User List - {{ block.super }}{% endblock %}

{% block content %}
<h2>User List</h2>
<ul class="list-group">
    {% for user in users %}
    <li class="list-group-item">
        {% if request.user.is_staff %}
            <a href="{% url 'user_detail' user.id %}">{{ user.username }}</a>
        {% else %}
            {% if user.id == request.user.id %}
                <a href="{% url 'user_detail' user.id %}">{{ user.username }} (You)</a>
            {% else %}
                {{ user.username }}
            {% endif %}
        {% endif %}
    </li>
    {% empty %}
    <li class="list-group-item">No users found.</li>
    {% endfor %}
</ul>
{% endblock %}
